
<div class="row">
	<div class="col-md-8">
		<div id="inform" class="jumbotron">
			<img src="image_source/imooc/imooc_small_120.jpg" alt=<%= @web.address %> class="img-thumbnail">
			<div id="item_details">
				<p><strong><%= @web.name %></strong></p><br>
				<p><span class="btn btn-link">IT</span><span class="btn btn-link">在线学习</span><span class="btn btn-link">编程</span><span class="btn btn-link">编程</span><span class="btn btn-link">编程</span></p>
			<br>
			<span class="glyphicon glyphicon-heart-empty icon"><span>	
			<span class="glyphicon glyphicon-share-alt icon"><span>	
			</div>
		</div>
		<div id="grades">
			<p>评分</p>
			<span class="glyphicon glyphicon-star-empty"></span>
			<span class="glyphicon glyphicon-star-empty"></span>
			<span class="glyphicon glyphicon-star-empty"></span>
			<span class="glyphicon glyphicon-star-empty"></span>
			<span class="glyphicon glyphicon-star-empty"></span>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div id="subs" class="jumbotron">
					<p>版块</p>
					<a href="#">前端开发</a>
					<a href="#">后端开发</a>
					<a href="#">移动开发</a>
					<a href="#">数据处理</a>
					<a href="#">图像处理</a>
				</div>
			</div>
			<div class="col-md-6">
				<div id="selected" class="jumbotron">
					<p>精选</p>
					<a href="#">CSS教程</a>
					<a href="#">HTML教程</a>
				</div>
			</div>
		</div>	
		<div id="comments">
			<p>评论</p>
			<p>user1: Sehr Gut! Es gefaellt mir. Super! Fantastisch! Lustig! Duang!</p>
			<br>
			<br>
		</div>		
	</div>
	<div class="col-md-4">
		<!-- <div id="relevance">
			<p><em>点击进入条目</em><a id="item_button" href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 慕课网</a></p>
			<br>
			<p>专注做好IT技能教育的MOOC，符合互联网发展潮流接地气儿的MOOC。我们免费，我们只教有用的，我们专心做教育。</p><br>
			<p>MOOC：源于国外，Massive（大规模）Open（开放）Online（在线）Course（课程）。</p>
		</div>
		<div id="page_buttons">
			<a href="#" id="last_button" class="btn btn-default">上</a><br><br>
			<a href="demo_2Col_yeeyan.html" id="next_button" class="btn btn-default">下</a>
		</div>
		<div id="next_web">
		<p>译言<em>yeeyan.com</em><p/>
		</div> -->
	</div>
</div>
