
<div class="row">
	<div class="col-md-8">
		<!-- <a id="web_link" href="imooc.com"><img src=imooc/imooc.jpg></a> -->
		<%= link_to image_tag("imooc/imooc.jpg"), @web.address %>
	</div>
	<div class="col-md-4">
		<div id="intro" class="jumbotron">
			<p><em>点击进入条目</em><a id="item_button" href="demo_2Col_item.html"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 慕课网</a></p>
			<br>
			<p>专注做好IT技能教育的MOOC，符合互联网发展潮流接地气儿的MOOC。我们免费，我们只教有用的，我们专心做教育。</p><br>
			<p>MOOC：源于国外，Massive（大规模）Open（开放）Online（在线）Course（课程）。</p>
		</div> 
		<div id="page_buttons">
			<a href="#" id="last_button" class="btn btn-default">上</a><br><br>
			<a href="demo_2Col_yeeyan.html" id="next_button" class="btn btn-default">下</a>
		<br>
		</div>
	</div>
</div>


<!--SVG-->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->