

/* new web */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin partial_form_box {
	margin: 6px 12px 6px 0 !important;
	padding: 0;
	font-size: 12px;
}

//body {
//	padding-top: 60px;
//}

textarea {
	resize: vertical;
}

input, textarea {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.submit_button {
	margin: 20px 0 !important;
}

.new_form>label {
	margin-top: 20px;
	font-weight: normal;
}

#web_description {
	height: 80px;
}

.pagination {
	float: right;
	position: relative;
	bottom: 40px;
}

#new_name, #new_description {
	display: none;
}

#new_name_link, #new_description_link {
	@include partial_form_box;
}

.inline_input {
	width: auto;
	display: inline;
	@include partial_form_box
}

#show_name {
	font-size: 20px;
}

#show_description, #user_user_description {
	display: block !important;
}

